.input-select {

    &__input {
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background: url('http://localhost:3000/media/icons/arrow-down.svg') no-repeat;
        background-position-x: calc(100% - 8px);
        background-position-y: 5px;
        border-radius: 2px;
    }
}